<div class="conatainer">
    <div class="row">
        <div class="col-md-12">
            <h3>Terminal</h3>
            <br>
            <md-input-container class="md-block">
                <label>Command Line</label>
                <input ng-model="command" ng-keyup="$event.keyCode == 13 ? sendCommand() : null">
            </md-input-container>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <h4>Logs</h4>
            <br>
            <div class="logs">
                <p class="msg" ng-repeat="log in logs">{{log}}</p>
            </div>
        </div>
    </div>
</div>