<div class="row">
    <div class="col-md-12">
        <div class="controll-wrapper">
            <div class="btn-a el el-nav" ng-click="drive('auto', 'A')">
                <i class="fa fa-microchip"></i>
            </div>
            <div class="btn-u el el-nav" ng-click="drive('forward', 'U')">
                <i class="fa fa-chevron-up route-forward"></i>
            </div>
            <div class="btn-m el el-nav" ng-click="drive('manual', 'M')">
                <i class="fa fa-hand-paper-o"></i>
            </div>
            <div class="btn-l el el-nav" ng-click="drive('left', 'L')">
                <i class="fa fa-chevron-left route-left"></i>
            </div>
            <div class="btn-s el el-nav" ng-click="drive('stop', 'S')">
                <i class="fa fa-stop route-stop"></i>
            </div>
            <div class="btn-r el el-nav" ng-click="drive('right', 'R')">
                <i class="fa fa-chevron-right route-right"></i>
            </div>
            <div class="btn-d el el-nav" ng-click="drive('back', 'D')">
                <i class="fa fa-chevron-down route-back"></i>
            </div>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-md-12">
            <canvas tc-chartjs-line chart-data="data"></canvas>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            <ui-knob value="value" options="options"></ui-knob>
        </div>
        <div class="col-md-4">
            <ui-knob value="value2" options="options2"></ui-knob>
        </div>
        <div class="col-md-4">
            <ui-knob value="value2" options="options3"></ui-knob>
        </div>
    </div>